@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    margin-top: 2em;
}